//! **************************************************************************
// Written by: Map P.20131013 on Fri Jun 26 00:26:11 2015
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "R10" LEVEL 1;
COMP "display<10>" LOCATE = SITE "U7" LEVEL 1;
COMP "display<11>" LOCATE = SITE "T5" LEVEL 1;
COMP "display<12>" LOCATE = SITE "V5" LEVEL 1;
COMP "display<13>" LOCATE = SITE "N4" LEVEL 1;
COMP "display<14>" LOCATE = SITE "P6" LEVEL 1;
COMP "rst_n" LOCATE = SITE "T2" LEVEL 1;
COMP "LCD_data<0>" LOCATE = SITE "F6" LEVEL 1;
COMP "LCD_data<1>" LOCATE = SITE "D3" LEVEL 1;
COMP "LCD_data<2>" LOCATE = SITE "E4" LEVEL 1;
COMP "LCD_data<3>" LOCATE = SITE "G6" LEVEL 1;
COMP "LCD_data<4>" LOCATE = SITE "H7" LEVEL 1;
COMP "LCD_data<5>" LOCATE = SITE "D1" LEVEL 1;
COMP "LCD_data<6>" LOCATE = SITE "D2" LEVEL 1;
COMP "LCD_data<7>" LOCATE = SITE "F3" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "K4" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "K3" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "L5" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "K5" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "H4" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "H3" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "L7" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "K6" LEVEL 1;
COMP "LED<8>" LOCATE = SITE "G3" LEVEL 1;
COMP "LED<9>" LOCATE = SITE "G1" LEVEL 1;
COMP "LCD_di" LOCATE = SITE "C1" LEVEL 1;
COMP "LCD_en" LOCATE = SITE "F5" LEVEL 1;
COMP "LCD_rw" LOCATE = SITE "C2" LEVEL 1;
COMP "col_n<0>" LOCATE = SITE "J3" LEVEL 1;
COMP "col_n<1>" LOCATE = SITE "J1" LEVEL 1;
COMP "col_n<2>" LOCATE = SITE "H2" LEVEL 1;
COMP "col_n<3>" LOCATE = SITE "H1" LEVEL 1;
COMP "display<0>" LOCATE = SITE "U5" LEVEL 1;
COMP "display<1>" LOCATE = SITE "T7" LEVEL 1;
COMP "display<2>" LOCATE = SITE "R7" LEVEL 1;
COMP "display<3>" LOCATE = SITE "V7" LEVEL 1;
COMP "display<4>" LOCATE = SITE "V4" LEVEL 1;
COMP "display<5>" LOCATE = SITE "T4" LEVEL 1;
COMP "display<6>" LOCATE = SITE "T3" LEVEL 1;
COMP "display<7>" LOCATE = SITE "R5" LEVEL 1;
COMP "display<8>" LOCATE = SITE "N5" LEVEL 1;
COMP "display<9>" LOCATE = SITE "R3" LEVEL 1;
COMP "control<0>" LOCATE = SITE "V8" LEVEL 1;
COMP "control<1>" LOCATE = SITE "U8" LEVEL 1;
COMP "control<2>" LOCATE = SITE "V6" LEVEL 1;
COMP "control<3>" LOCATE = SITE "T6" LEVEL 1;
COMP "row_n<0>" LOCATE = SITE "K2" LEVEL 1;
COMP "row_n<1>" LOCATE = SITE "K1" LEVEL 1;
COMP "row_n<2>" LOCATE = SITE "L4" LEVEL 1;
COMP "row_n<3>" LOCATE = SITE "L3" LEVEL 1;
COMP "LCD_cs<0>" LOCATE = SITE "F4" LEVEL 1;
COMP "LCD_cs<1>" LOCATE = SITE "E1" LEVEL 1;
COMP "LED<10>" LOCATE = SITE "J7" LEVEL 1;
COMP "LED<11>" LOCATE = SITE "J6" LEVEL 1;
COMP "LED<12>" LOCATE = SITE "F2" LEVEL 1;
COMP "LED<13>" LOCATE = SITE "F1" LEVEL 1;
COMP "LED<14>" LOCATE = SITE "H6" LEVEL 1;
COMP "LED<15>" LOCATE = SITE "H5" LEVEL 1;
COMP "LCD_rst" LOCATE = SITE "E3" LEVEL 1;
SCHEMATIC END;

