
# PlanAhead Generated physical constraints 

NET "clk" LOC = R10;
NET "rst_n" LOC = T2;

/*
NET "control[0]" LOC = V8;
NET "control[1]" LOC = U8;
NET "control[2]" LOC = V6;
NET "control[3]" LOC = T6;

NET "display[14]" LOC = P6;
NET "display[13]" LOC = N4;
NET "display[12]" LOC = V5;
NET "display[11]" LOC = T5;
NET "display[10]" LOC = U7;
NET "display[9]" LOC = R3;
NET "display[8]" LOC = N5;
NET "display[7]" LOC = R5;
NET "display[6]" LOC = T3;
NET "display[5]" LOC = T4;
NET "display[4]" LOC = V4;
NET "display[3]" LOC = V7;
NET "display[2]" LOC = R7;
NET "display[1]" LOC = T7;
NET "display[0]" LOC = U5;
*/

NET "audio_appsel" LOC = H18;
NET "audio_sysclk" LOC = H17;
NET "audio_bck" LOC = K16;
NET "audio_ws" LOC = L15;
NET "audio_data" LOC = L16;

NET "note[0]" LOC = K13;
NET "note[1]" LOC = H13;
NET "note[2]" LOC = H16;
NET "note[3]" LOC = J13;
NET "note[4]" LOC = L13;
NET "note[5]" LOC = K17;

NET "rst_n_in" LOC = G16;
NET "rst_n_out" LOC = H14;

NET "dialogue_in[3]" LOC = L18;
NET "dialogue_in[2]" LOC = N17;
NET "dialogue_in[1]" LOC = P18;
NET "dialogue_in[0]" LOC = T17;

NET "dialogue_out[3]" LOC = U18;
NET "dialogue_out[2]" LOC = L14;
NET "dialogue_out[1]" LOC = P16;
NET "dialogue_out[0]" LOC = T14;

## LCD control signals
NET "LCD_rst"       LOC = "E3";
NET "LCD_cs[1]"     LOC = "E1";
NET "LCD_cs[0]"     LOC = "F4";
NET "LCD_data[7]"   LOC = "F3";
NET "LCD_data[6]"   LOC = "D2";
NET "LCD_data[5]"   LOC = "D1";
NET "LCD_data[4]"   LOC = "H7";
NET "LCD_data[3]"   LOC = "G6";
NET "LCD_data[2]"   LOC = "E4";
NET "LCD_data[1]"   LOC = "D3";
NET "LCD_data[0]"   LOC = "F6";
NET "LCD_en"        LOC = "F5";
NET "LCD_rw"        LOC = "C2";
NET "LCD_di"        LOC = "C1";

NET "col_n[0]" LOC = J3;
NET "col_n[1]" LOC = J1;
NET "col_n[2]" LOC = H2;
NET "col_n[3]" LOC = H1;
NET "row_n[0]" LOC = K2;
NET "row_n[1]" LOC = K1;
NET "row_n[2]" LOC = L4;
NET "row_n[3]" LOC = L3;
