
# PlanAhead Generated physical constraints 

NET "clk" LOC = R10;
NET "rst_n" LOC = T2;
NET "game_invite" LOC = N3;
NET "game_cancel" LOC = P4;

/*
NET "control[0]" LOC = V8;
NET "control[1]" LOC = U8;
NET "control[2]" LOC = V6;
NET "control[3]" LOC = T6;

NET "display[14]" LOC = P6;
NET "display[13]" LOC = N4;
NET "display[12]" LOC = V5;
NET "display[11]" LOC = T5;
NET "display[10]" LOC = U7;
NET "display[9]" LOC = R3;
NET "display[8]" LOC = N5;
NET "display[7]" LOC = R5;
NET "display[6]" LOC = T3;
NET "display[5]" LOC = T4;
NET "display[4]" LOC = V4;
NET "display[3]" LOC = V7;
NET "display[2]" LOC = R7;
NET "display[1]" LOC = T7;
NET "display[0]" LOC = U5;
*/

NET "audio_appsel" LOC = H18;
NET "audio_sysclk" LOC = H17;
NET "audio_bck" LOC = K16;
NET "audio_ws" LOC = L15;
NET "audio_data" LOC = L16;

NET "note_in[0]" LOC = A2;
NET "note_in[1]" LOC = B3;
NET "note_in[2]" LOC = A4;
NET "note_in[3]" LOC = C7;
NET "note_in[4]" LOC = A6;
NET "note_in[5]" LOC = B8;

NET "rst_n_in" LOC = A3;
NET "rst_n_out" LOC = C5;

NET "dialogue_in[3]" LOC = A12;
NET "dialogue_in[2]" LOC = F13;
NET "dialogue_in[1]" LOC = A15;
NET "dialogue_in[0]" LOC = B16;

NET "dialogue_out[3]" LOC = C9;
NET "dialogue_out[2]" LOC = D11;
NET "dialogue_out[1]" LOC = A10;
NET "dialogue_out[0]" LOC = B11;

NET "state[3]" LOC = F16;
NET "state[2]" LOC = F14;
NET "state[1]" LOC = D18;
NET "state[0]" LOC = B2;

NET "game_invite_in" LOC = B6;
NET "game_cancel_in" LOC = C8;

## LCD control signals
NET "LCD_rst"       LOC = "E3";
NET "LCD_cs[1]"     LOC = "E1";
NET "LCD_cs[0]"     LOC = "F4";
NET "LCD_data[7]"   LOC = "F3";
NET "LCD_data[6]"   LOC = "D2";
NET "LCD_data[5]"   LOC = "D1";
NET "LCD_data[4]"   LOC = "H7";
NET "LCD_data[3]"   LOC = "G6";
NET "LCD_data[2]"   LOC = "E4";
NET "LCD_data[1]"   LOC = "D3";
NET "LCD_data[0]"   LOC = "F6";
NET "LCD_en"        LOC = "F5";
NET "LCD_rw"        LOC = "C2";
NET "LCD_di"        LOC = "C1";

NET "col_n[0]" LOC = J3;
NET "col_n[1]" LOC = J1;
NET "col_n[2]" LOC = H2;
NET "col_n[3]" LOC = H1;
NET "row_n[0]" LOC = K2;
NET "row_n[1]" LOC = K1;
NET "row_n[2]" LOC = L4;
NET "row_n[3]" LOC = L3;
