//! **************************************************************************
// Written by: Map P.20131013 on Mon Jun 15 21:05:40 2015
//! **************************************************************************

SCHEMATIC START;
COMP "note_in<5>" LOCATE = SITE "B8" LEVEL 1;
COMP "rst_n" LOCATE = SITE "T2" LEVEL 1;
COMP "audio_data" LOCATE = SITE "L16" LEVEL 1;
COMP "audio_bck" LOCATE = SITE "K16" LEVEL 1;
COMP "rst_n_in" LOCATE = SITE "A3" LEVEL 1;
COMP "audio_sysclk" LOCATE = SITE "H17" LEVEL 1;
COMP "letter1<0>" LOCATE = SITE "C9" LEVEL 1;
COMP "display<0>" LOCATE = SITE "U5" LEVEL 1;
COMP "letter1<1>" LOCATE = SITE "D11" LEVEL 1;
COMP "display<1>" LOCATE = SITE "T7" LEVEL 1;
COMP "letter1<2>" LOCATE = SITE "A10" LEVEL 1;
COMP "display<2>" LOCATE = SITE "R7" LEVEL 1;
COMP "letter1<3>" LOCATE = SITE "B11" LEVEL 1;
COMP "display<3>" LOCATE = SITE "V7" LEVEL 1;
COMP "letter2<0>" LOCATE = SITE "A15" LEVEL 1;
COMP "letter1<4>" LOCATE = SITE "A12" LEVEL 1;
COMP "display<4>" LOCATE = SITE "V4" LEVEL 1;
COMP "letter2<1>" LOCATE = SITE "B16" LEVEL 1;
COMP "letter1<5>" LOCATE = SITE "F13" LEVEL 1;
COMP "display<5>" LOCATE = SITE "T4" LEVEL 1;
COMP "letter2<2>" LOCATE = SITE "F16" LEVEL 1;
COMP "display<6>" LOCATE = SITE "T3" LEVEL 1;
COMP "audio_appsel" LOCATE = SITE "H18" LEVEL 1;
COMP "letter2<3>" LOCATE = SITE "F14" LEVEL 1;
COMP "display<7>" LOCATE = SITE "R5" LEVEL 1;
COMP "letter2<4>" LOCATE = SITE "D18" LEVEL 1;
COMP "display<8>" LOCATE = SITE "N5" LEVEL 1;
COMP "letter2<5>" LOCATE = SITE "B2" LEVEL 1;
COMP "display<9>" LOCATE = SITE "R3" LEVEL 1;
COMP "rst_n_out" LOCATE = SITE "C5" LEVEL 1;
COMP "clk" LOCATE = SITE "R10" LEVEL 1;
COMP "display<10>" LOCATE = SITE "U7" LEVEL 1;
COMP "display<11>" LOCATE = SITE "T5" LEVEL 1;
COMP "display<12>" LOCATE = SITE "V5" LEVEL 1;
COMP "display<13>" LOCATE = SITE "N4" LEVEL 1;
COMP "display<14>" LOCATE = SITE "P6" LEVEL 1;
COMP "control<0>" LOCATE = SITE "V8" LEVEL 1;
COMP "control<1>" LOCATE = SITE "U8" LEVEL 1;
COMP "control<2>" LOCATE = SITE "V6" LEVEL 1;
COMP "note_in<0>" LOCATE = SITE "A2" LEVEL 1;
COMP "control<3>" LOCATE = SITE "T6" LEVEL 1;
COMP "note_in<1>" LOCATE = SITE "B3" LEVEL 1;
COMP "note_in<2>" LOCATE = SITE "A4" LEVEL 1;
COMP "note_in<3>" LOCATE = SITE "C7" LEVEL 1;
COMP "audio_ws" LOCATE = SITE "L15" LEVEL 1;
COMP "note_in<4>" LOCATE = SITE "A6" LEVEL 1;
SCHEMATIC END;

